body{
	background-image: url("../images/backgroundimage.png");
}

#headerblock{
box-sizing: border-box;
background-color: #ffffff;
position: absolute;
border: 2px solid #cccccc;
top: 0;
left: 0;
height: 92px;
width: 100%;


}


.aboutMe{
box-sizing: border-box;
width:  250px;
height: 88px;
margin-left: 160px;
background-color: #4aaaa5;
margin-top: 0px;
}

#myname{
margin-top: 0px;
margin-bottom: 0px;
color: white;
font-family: 'serif';
text-align: center;
padding-top: 10px;
}
.tabs{
	box-sizing: border-box;
	width: 200px;
	height: 25px;
	position: absolute;
	border-color: black;
	border: 1px;
	background-color: #ffffff;
	left: 60%;
	top: 40%;

		
}
a:link{ 
 text-decoration: none;
 color: #777777;
 font: 'Georgia';

}

#block2{
box-sizing: border-box;
background-color: #ffffff;
border: 2px solid #dddddd;
position: absolute;
margin-top: 120px;
margin-left: 154px;
width: 650px;
height: 480px;
float: left;
padding-left: 25px;
padding-right: 25px;
}

#About{
left: -50px;
}

#about_me{
	color:#4aaaa5;
	font-family:'Georgia';
}

#line{
border-width: 2px;
}

#biopic{
	float: left;
	
}

#bio{
	color: #777777;
}


#block3{
box-sizing: border-box;
background-color: #ffffff;
/* position: absolute; */
border: 2px solid #dddddd;
width: 270px;
height: 200px;
float: left;
text-align: center;
margin-left: 850px;
margin-top: 120px;
margin-right: 140px;
color: #4aaaa5;
font: 'Georgia';
}

#another_line{
border-color: 1px solid #dddddd;
margin-left: 50px;
margin-right: 50px;

}
b
#contactlinks{
	margin-top: 50px;
}
#githublink{
	float: left;
	margin-left: 45px;
}
#linkedinlink{
	float: left;
	margin-left: 5px;
}
#stackoverflowlink{
	float: left;
}

#Footer{
	box-sizing: border-box;
	background-color: #666666;
	bottom: 0px;
	left: 0;
	height: 50px;
	width: 100%;
	text-align: center;
	position: absolute;
	border-top: 10px  solid #4aaaa5;

}