body{
	background-image: url("../images/backgroundimage.png");
	min-width: 1125px;
}

.wrapper{
	min-height: 100%;
	margin: 0 0 60px 0;
}

#headerblock{
box-sizing: border-box;
background-color: #ffffff;
border: 2px solid #cccccc;
top: 0;
left: 0;
height: 92px;
width: 100%;
}


.aboutMe{
box-sizing: border-box;
width:  250px;
height: 88px;
margin-left: 160px;
background-color: #4aaaa5;
margin-top: 0px;
float: left;
}

#myname{
margin-top: 0px;
margin-bottom: 0px;
font-size: 40px;
color: #ffffff;
font-family: 'Georgia', Times, 'Times New Roman', serif;
text-align: center;
padding-top: 10px;
}

.tabs{
	box-sizing: border-box;
	width: 200px;
	height: 25px;
	margin-left: 30%;
	margin-top: 35px;
	border-color: black;
	border: 1px;
	background-color: clear;
	float: left;
}

a:link{ 
 text-decoration: none;
 color: #777777;
 font: 'Georgia';
}

a:hover{
	background-color: #4aaaa5;
}
a:visited{
	color: #777777;
}

#block2{
box-sizing: border-box;
background-color: #ffffff;
border: 2px solid #dddddd;
margin-top: 40px;
margin-left: 154px;
width: 650px;
height: 480px;
float: left;
padding-left: 25px;
padding-top: 35px;
padding-right: 25px;
}

#About{
left: -50px;
}

#about_me{
	color:#4aaaa5;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-size: 30px;
}

#line{
border-width: 2px;
}

#biopic{
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
	height: 175px;	
}

#bio{
	color: #777777;
	padding-left: 15px;	
}

#portfolio_tag0{
	z-index: 100%;
	position: absolute;
	color: #ffffff;
	background-color: #4aaaa5;
	width: 250px;
	height: 20px;
	padding-top: 5px;
	top: 300px;
	text-align: center;
}

#portfolio_tag1{
	z-index: 100%;
	position: absolute;
	color: #ffffff;
	background-color: #4aaaa5;
	width: 250px;
	height: 20px;
	padding-top: 5px;
	top: 300px;
	left: 505px;
	text-align: center;
}
#portfolio_tag2{
z-index: 100%;
	position: absolute;
	color: #ffffff;
	background-color: #4aaaa5;
	width: 250px;
	height: 20px;
	padding-top: 5px;
	top: 415px;
	text-align: center;
}

#portfolio_tag3{
	z-index: 100%;
	position: absolute;
	color: #ffffff;
	background-color: #4aaaa5;
	width: 250px;
	height: 20px;
	padding-top: 5px;
	top: 415px;
	left: 505px;
	text-align: center;
}

#portfolio_tag4{
	z-index: 100%;
	position: absolute;
	color: #ffffff;
	background-color: #4aaaa5;
	width: 250px;
	height: 20px;
	padding-top: 5px;
	top: 530px;
	text-align: center;
}

#block3{
box-sizing: border-box;
background-color: #ffffff;
border: 2px solid #dddddd;
width: 270px;
height: 200px;
float: left;
text-align: center;
padding-top: 30px;
margin-left: 40px;
margin-top: 40px;
color: #4aaaa5;
font-family: 'Georgia', Times, 'Times New Roman', serif;
font-size: 30px;
}

#another_line{
border-color: 1px solid #dddddd;
margin-left: 50px;
margin-right: 50px;

}
b
#contactlinks{
	margin-top: 50px;
}
#githublink{
	float: left;
	margin-left: 45px;
}
#linkedinlink{
	float: left;
	margin-left: 5px;
}
#stackoverflowlink{
	float: left;
}

#Footer{
	box-sizing: border-box;
	background-color: #666666;	
	height: 50px;
	width: 100%;
	padding-top: 15px;
	position: fixed;
	bottom: 0;
	text-align: center;
	border-top: 10px  solid #4aaaa5;
	float: left;
}